
<div custom-style="DMP">Data Management Plan</div>
    {%  if dc.project.versions %}
        {% set version = dc.project.versions[-1] %}
        <div custom-style="Version">{{version.name}}</div>
    {% else  %}
        <div custom-style="Version">NO VERSION</div>
    {% endif %}

<div custom-style="DatePar">
    {{ dc.doc.created_at|datetime_format("%d %B %Y") }}
</div>


